@imageHeight: 100px;

.group-gallery-widget {
  margin: 0;

  .col-xs-3 {
    padding: 5px;
  }
}

.group-gallery-widget-image {
  .crop {
    display: inline-block;
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 100%;
    background-position: center;
    background-size: cover;
  }
}

.group-gallery-modal {
  .panel-body {
    padding: 0px;
  }
}

.group-gallery-comment {
  margin: 5px 0 5px 0;
  .group-gallery-comment-user {
    .group-gallery-comment-userimage {
      width: 20px;
      height: 20px;
    }

    .group-gallery-comment-username {
      font-weight: bold;
    }
  }
}